         </div>
                    </div>
                    <div class="tab-pane fade" id="contents" role="tabpanel">
                        <div class="tabblock helpful">
                            <h2 class="h2-from-tabs">Chapters</h2>
                            <div aria-labelledby="toc-link2"
                                 class="sharemenu troubleshooting-menu sharemenu-100"
                                 role="menu">
                                <ul>
                                    <li class="tm-ts-cur-page">
                                        <span class="dots"></span>
                                        <a href="/manual/1139/Acer-500.html?page=3#manual">
                                            Table of Contents </a>
                                        <span class="number page-num-black">3</span>
                                    </li>
                                    <li class="">
                                        <span class="dots"></span>
                                        <a href="/manual/1139/Acer-500.html?page=21#manual">
                                            1 Getting Familiar With Your
                                            Computer </a>
                                        <span class="number page-num-black">21</span>
                                    </li>
                                    <li class="">
                                        <span class="dots"></span>
                                        <a href="/manual/1139/Acer-500.html?page=49#manual">
                                            2 Operating On Battery Power </a>
                                        <span class="number page-num-black">49</span>
                                    </li>
                                    <li class="">
                                        <span class="dots"></span>
                                        <a href="/manual/1139/Acer-500.html?page=61#manual">
                                            3 Peripherals and Options </a>
                                        <span class="number page-num-black">61</span>
                                    </li>
                                    <li class="">
                                        <span class="dots"></span>
                                        <a href="/manual/1139/Acer-500.html?page=77#manual">
                                            4 Moving With Your Computer </a>
                                        <span class="number page-num-black">77</span>
                                    </li>
                                    <li class="">
                                        <span class="dots"></span>
                                        <a href="/manual/1139/Acer-500.html?page=85#manual">
                                            5 Software </a>
                                        <span class="number page-num-black">85</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="zeropagepanel"
                         role="tabpanel">
                        <div class="tabblock zero-page-panel zero-page ">
                            <div class="top">
                                <div class="top-info">
                                    <span>Table of Contents</span>
                                </div>

                                <form action="" class="form">
                                    <input placeholder="Search in table of contents"
                                           type="text">
                                    <div class="search" type="submit"><i
                                            class="fa fa-search"></i></div>
                                    <button class="toggleCollapse"
                                            title="Expand/Collapse all captions"
                                            type="button"><i
                                            class="fa fa-list"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="content">
                                <div class="table-of-contents">
                                    <ul class="section root-section first-level active ">
                                    </ul>
                                    <div class="lds-ellipsis"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="troubleshooting"
                         role="tabpanel">
                        <div class="tabblock troubleshooting">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="summary" role="tabpanel">
                        <div class="tabblock summary">
                            <div id="bookmarks-in-tab">
                                <div style="text-align: center">
                                    <img alt="loading"
                                         class="lazyIntersect"
                                         data-src="//static.manualslib.com/public/img/loading.gif"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="goods" role="tabpanel">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>

